* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #3a405a;
  color: #efd2cb;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
}

header {
  background: #4a6670;
  padding: 3rem;
}

a {
  color: #efd2cb;
  text-decoration: none;
  padding-right: 20px;
}
a:hover {
  color: #c7a27c;
}
nav {
  padding: 20px 0;
}
footer {
  padding: 3rem;
}

.logo {
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  font-weight: 200;
}

.headline { 
  font-weight: 700;
}

.main-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(5,1fr);
  padding: 10px;
  height: 100vh;
}
.grid-item1 {
  background-color: deeppink;
  grid-column: 1/4;
  grid-row: 1/3;
}

.grid-item2 {
  background-color: orange;
  grid-column: 4/6;
  grid-row: 1/4;
}
.grid-item3 {
  background-color: blue;
  grid-column: 6/-1;
  grid-row: 1/4;
}
.grid-item4 {
  background-color: orange;
  grid-column: 1/3;
  grid-row: 3/-1;
}
.grid-item5 {
  background-color: purple;
  grid-column: 3/4;
  grid-row: 3/4;
}
.grid-item6 {
  background-color: green;
  grid-column: 3/5;
  grid-row: 4/-1;
}
.grid-item7 {
  background-color: purple;
  grid-column: 5/6;
  grid-row: 5/-1;
}
.grid-item8 {
  background-color: purple;
  grid-column: 5/6;
  grid-row: 4/5;
}
.grid-item9 {
  background-color: deeppink;
  grid-column: 6/-1;
  grid-row: 4/-1;
}