* {
  box-sizing: border-box;
}

body {
  background: #3a405a;
  color: #efd2cb;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
}

header {
  background: #4a6670;
  padding: 2rem 3rem;
}

a {
  color: #efd2cb;
  padding-right: 20px;
  text-decoration: none;
}
a:hover {
  color: #c7a27c;
}
nav {
  padding: 20px 0;
}
footer {
  padding: 3rem;
}
main {
  height: 100vh;
}
.logo {
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  font-weight: 200;
}

.logo > span {
  font-weight: 700;
}

.main-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 80%;
  padding: 2rem 3rem;
}

.grid-item {
  align-items: center;
  color: #3a405a;
  display: flex;
  justify-content: center;
}

.small {
  background: #d65780;
  grid-column: span 1;
  grid-row: span 1;
}

.medium {
  background: #ccd7c5;
  grid-column: span 2;
  grid-row: span 2;
}

.large {
  background: #c7a27c;
  grid-column: span 3;
  grid-row: span 3;
}

.wide {
  background: #ee9480;
  grid-column: span 3;
  grid-row: span 2;
}

.tall {
  background: #efd2cb;
  grid-column: span 2;
  grid-row: span 3;
}
